exportPattern("^[[:alpha:]]+")
export(randBoot)
export(randOne)
export(randMult)
export(repDataSet)
export(averages)
export(anovaPvals)
export(MeanOfMeans)
export(histMeans)
export(histPvals)
export(plotBoot)
export(countPvals)
importFrom("lme4", "glmer", "lmer")
importFrom("stats", "glm", "lm", "sd", "update")
importFrom("graphics", "abline", "hist", "text")
importFrom("car", "Anova")
importFrom("ggplot2", "ggplot", "geom_boxplot", "geom_point", "labs", "scale_fill_brewer")
importFrom("ggdist", "stat_halfeye", "stat_dots")
importFrom("cowplot", "plot_grid")
importFrom("RColorBrewer", "brewer.pal")
